<div class="profile-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Your Profile</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      @if(loading) {
        <div class="spinner-container">
          <mat-spinner></mat-spinner>
        </div>
      }
      <div [style.visibility]="loading ? 'hidden' : 'visible'">
        <p>Please complete your profile.</p>
        <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
          <fieldset [disabled]="loading">
            <mat-form-field appearance="fill">
              <mat-label>Username</mat-label>
              <input matInput formControlName="username">
            </mat-form-field>
    
            <mat-form-field appearance="fill">
              <mat-label>Full Name</mat-label>
              <input matInput formControlName="full_name">
            </mat-form-field>
    
            <mat-form-field appearance="fill">
              <mat-label>Date of Birth</mat-label>
              <input matInput [matDatepicker]="dobPicker" formControlName="dob">
              <mat-datepicker-toggle matIconSuffix [for]="dobPicker"></mat-datepicker-toggle>
              <mat-datepicker #dobPicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Age</mat-label>
              <input matInput formControlName="age" type="number" readonly>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Phone Number</mat-label>
              <input matInput formControlName="phone_number" type="tel">
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Church</mat-label>
              <input matInput formControlName="church_name">
            </mat-form-field>
    
            <button mat-raised-button color="primary" type="submit" [disabled]="profileForm.invalid || loading">
              Save Profile
            </button>
          </fieldset>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
