.profile-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

mat-card {
  width: 100%;
  max-width: 500px;
  position: relative;
  min-height: 300px;
}

.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 2;
}

mat-form-field {
  width: 100%;
}
