:host {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  height: 100%;
}

.login-container {
  width: 100%;
  
  mat-card {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
    min-height: 300px;
  }

  .spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2;
  }

  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }

  form {
    padding: 20px 0;
  }

  .error-message {
    color: red;
    margin-top: 16px;
  }
}
