<div class="login-container">
  <mat-card>
    <mat-card-content>
      @if(loading) {
        <div class="spinner-container">
          <mat-spinner></mat-spinner>
        </div>
      }
      <div [style.visibility]="loading ? 'hidden' : 'visible'">
        <mat-tab-group>
          <mat-tab label="Sign In">
            <form [formGroup]="signInForm" (ngSubmit)="signIn()">
              <fieldset [disabled]="loading">
                <mat-form-field appearance="fill">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email" type="email">
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Password</mat-label>
                  <input matInput formControlName="password" [type]="hideSignInPassword ? 'password' : 'text'">
                  <button mat-icon-button matSuffix (click)="togglePasswordVisibility('signIn')" type="button">
                    <mat-icon>{{hideSignInPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit" [disabled]="signInForm.invalid || loading">Sign In</button>
                <div class="forgot-password-container">
                    <button mat-button type="button" (click)="forgotPassword()" [disabled]="loading">Forgot Password?</button>
                </div>
              </fieldset>
            </form>
          </mat-tab>
          <mat-tab label="Sign Up">
            <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
              <fieldset [disabled]="loading">
                <mat-form-field appearance="fill">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email" type="email">
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Password</mat-label>
                  <input matInput formControlName="password" [type]="hideSignUpPassword ? 'password' : 'text'">
                  <button mat-icon-button matSuffix (click)="togglePasswordVisibility('signUp')" type="button">
                    <mat-icon>{{hideSignUpPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit" [disabled]="signUpForm.invalid || loading">Sign Up</button>
              </fieldset>
            </form>
          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-card-content>
  </mat-card>
</div>
