mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spinner-container, .add-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 150px;
}

.devotion-display p {
  white-space: pre-wrap;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}