<div class="update-password-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Update Password</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      @if(loading) {
        <div class="spinner-container">
          <p>Updating...</p>
        </div>
      }
      <form [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword()">
        <p>Please enter your new password below.</p>
        <mat-form-field appearance="fill">
          <mat-label>New Password</mat-label>
          <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="updatePasswordForm.get('password')?.hasError('minlength')">
            Password must be at least 6 characters
          </mat-error>
          <mat-error *ngIf="updatePasswordForm.get('password')?.hasError('required')">
            Password is required
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="updatePasswordForm.invalid || loading">Update Password</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>