:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 16px;
}

.update-password-container {
  width: 100%;
  max-width: 400px;
}

mat-card {
  padding: 16px;
}

mat-card-title {
  margin-bottom: 16px;
  color: var(--text-color);
}

p {
  color: var(--text-color);
  margin-bottom: 16px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

button[type="submit"] {
  width: 100%;
}